@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root {
  --background-gray: #282c34;
  --button-dark: #363636;
  background-color: var(--background-gray);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row, .colors {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
}

.input {
  font-size: 1.1em;
  margin-top: 1.4em;
  font-family: 'Quicksand', helvetica, arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1.1;
  color: var(--background-gray);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.color_tools {
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  float: left;
  width: 100%;
  color: #efefef;
}

.color_tools .input {
  float: left;
  margin-right: 0.5em;
}

.color {
  cursor: pointer;
  width: 100%;
  padding-top: 75%;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.color_wrapper {
  padding: 0;
  width: 20%;
  float: left;
}

.col-md-15 {
  position: relative;
  padding-right: 1em;
  padding-left: 0;
  margin-bottom: 150px;
  width: 190px;
  height: 100px;
}

#main_wrapper {
  padding-left: 0.5rem;
  padding-top: 20.5%;
  height: 2.6em;
  overflow: visible;
  position: relative;
  margin-top: 4em;
  margin-bottom: 3em;
  font: normal 1em 'Quicksand', helvetica, arial, sans-serif;
}

.cornered {
  border-radius: 15px;
}

.icon {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 3px);
}

.btn-circle {
  display: inline-block;
  width: 2em;
  height: 2em;
  position: relative;
  margin-right: 0.5em;
  background-position: 50%;
  text-align: center;
  padding: 0;
  line-height: 2em;
  border-radius: 1em;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.trashcan {
  background-position: 50%;
  background-size: 1.2em;
  margin-right: 0.1em;
}

.icons {
  width: 180px;
  height: 10px;
  position: relative;
  top: -12px;
}

.display-off {
  opacity: 0%;
}

.colorinput {
  z-index: 2;
  width: 24px;
  height: 24px;
  border-radius: 125px;
  position: absolute;
  cursor: pointer;
}